/.idea
/vendor/

###> shopware/core ###
.env.local
.env.local.php
.env.*.local
/public/bundles/*
/public/media/*
/public/theme/*
/public/thumbnail/*
/public/sitemap/*
/files/*
!/files/.htaccess
/var/*
!/var/.htaccess
/auth.json
/install.lock
public/asset-manifest.json
###< shopware/core ###
custom/plugins/NuLogicProducts/*
config/packages/web_profiler.yaml
config/routes/web_profiler.yaml
config/bundles.php
