{% sw_extends '@Storefront/storefront/page/account/sidebar.html.twig' %}

{% block page_account_sidebar_logout %}
    <div class="list-group">
        <a href="{{ path('frontend.account.logout.page') }}"
            class="list-group-item list-group-item-action account-aside-item">
            {{ 'account.logout'|trans|sw_sanitize }}
        </a>
    </div>
{% endblock %}