{% block ssik_element_image_gallery %}
    {% if element.fieldConfig is defined and element.data is defined %}
        {% set sliderConfig = element.fieldConfig.elements %}

        {% set mediaItems = [] %}
        {% for item in element.data.sliderItems %}
            {% set mediaItems = mediaItems|merge([item.media]) %}
        {% endfor %}

    {% endif %}

    {% if fallbackImageTitle is not defined %}
        {% set fallbackImageTitle = '' %}
    {% endif %}

    {# @var mediaItems \Shopware\Core\Content\Media\MediaCollection #}
    {% set imageCount = mediaItems|length %}

    {% set detailOptions = {
        config: {
            magnifierOverGallery: true,
            fullScreen: true,
            zoom: true,
        }
    } %}

    <div class="ssik-detail-media
        {% if element.config.fullScreen.value %}is-fullscreen-allow{% endif %}
        {% if element.config.magnifierOverGallery.value %}is-magnifier-allow{% endif %}
        {% if element.config.galleryPosition.value is same as('right') %}is-thumbs-right{% endif %}"
        {% if imageCount > 0 %}
            data-ssik-product-detail-media="true"
            data-ssik-product-detail-media-options="{{ detailOptions|json_encode }}"
        {% endif %}
    >

        <button class="btn-fullscreen-close js-btn-fullscreen-close">
            {% sw_icon 'x' style { size: 'sm' } %}
        </button>
        {% if imageCount > 1 %}
            <div class="ssik-detail-media-thumbs">
                <div class="swiper ssik-detail-media-thumbs-slider js-thumbs">
                    <div class="swiper-button-prev ssik-detail-media-thumbs-btn-nav"></div>
                    <div class="swiper-button-next ssik-detail-media-thumbs-btn-nav"></div>
                    <div class="swiper-wrapper">
                        {% for image in mediaItems %}
                            {% set aspectRatio = image.metaData.width / image.metaData.height %}
                            <div class="swiper-slide ssik-detail-media-thumbs-slider-slide js-thumbs-slide">
                                <picture style="--aspect-ratio:{{aspectRatio}};">
                                    {% sw_thumbnails 'gallery-slider-image-thumbnails' with {
                                        media: image,
                                        attributes: {
                                            'class': 'ssik-detail-media-thumbs-slider-slide-img',
                                            'alt': (image.translated.alt ?: fallbackImageTitle),
                                            'title': (image.translated.title ?: fallbackImageTitle)
                                        },
                                    } %}
                                </picture>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}

        {% if imageCount > 0 %}
            <div class="ssik-detail-media-images">
               <div class="swiper ssik-detail-media-images-slider js-images">
                    <div class="swiper-button-prev ssik-detail-media-images-btn-nav"></div>
                    <div class="swiper-button-next ssik-detail-media-images-btn-nav"></div>
                    <div class="swiper-wrapper">
                        {% for image in mediaItems %}
                            {% set aspectRatio = image.metaData.width / image.metaData.height %}
                            <div class="swiper-slide ssik-detail-media-images-slider-slide js-images-slide">
                                <div class="ssik-detail-media-images-slider-slide-inner">
                                    <div class="zoomist-container">
                                        <div class="zoomist-wrapper">
                                            <div class="zoomist-image">
                                                <picture style="--aspect-ratio:{{aspectRatio}};">
                                                    {% sw_thumbnails 'ssik-detail-media-images-slider-slide-img' with {
                                                        media: image,
                                                        attributes: {
                                                            'class': 'ssik-detail-media-images-slider-slide-img',
                                                            'alt': (image.translated.alt ?: fallbackImageTitle),
                                                            'title': (image.translated.title ?: fallbackImageTitle)
                                                        },
                                                    } %}
                                                </picture>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
